/* your custom css */
.firstPageImageParent {
  position: relative;
}
.firstPageImageParent .mapItem {
  cursor: pointer;
}
.firstPageImageParent .tooltip {
  background: transparent;
  text-align: center;
  position: absolute;
  min-width: 140px;
  left: 100%;
  opacity: 0;
  cursor: default;
  transition: opacity 0.3s;
  z-index: 100;
}
.firstPageImageParent .tooltip a:after {
  content: "";
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #fff;
  position: absolute;
  top: 27px;
  left: 4px;
}
.firstPageImageParent .tooltip a {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 18px;
  margin-left: 10px;
  display: block;
  background: #fff;
}
.firstPageImageParent .tooltip .title {
  margin-top: 10px;
  color: #24292e;
}
.firstPageImageParent .tooltip.on {
  opacity: 1;
  cursor: pointer;
}
.firstPageImageParent .tooltip .subTitle {
  font-size: 12px;
  background: #fef3f3;
  color: #333;
  text-align: left;
  padding: 8px;
  border-radius: 4px;
  width: 330px;
}
.headerTitleWithLogo {
  white-space: nowrap;
}

.navGroupCategoryTitle {
  font-size: 20px !important;
  font-weight: 550 !important;
  color: black;
}
.navGroupSubcategoryTitle {
  font-size: 16px !important;
  font-weight: 450 !important;
}
.navGroup .navItem {
  font-size: 16px !important;
  font-weight: 450 !important;
}
.navGroup.subNavGroup .navItem {
  font-size: 14px !important;
  color: #717171 !important;
}
.toc .toggleNav .navGroup .navGroupCategoryTitle,
.toc .toggleNav .navGroup .navGroupSubcategoryTitle,
.toc .toggleNav .navGroup a.navItem {
  font-weight: 400;
  color: #000;
}
.toc .toggleNav .navGroup .navListItem.navListItemActive a.navItem {
  font-weight: bold !important;
  color: #000 !important;
}

.toc .toggleNav .navGroup a.navItem:hover {
  font-weight: bold !important;
  color: black !important;
}

.fixedHeaderContainer header h3 {
  font-size: 14px;
}

.navGroup.subNavGroup h4 {
  display: block;
  cursor: default;
}

/* .navGroup.subNavGroup h4+ul { */
/* max-height: 0; */
/* overflow: hidden; */
/* transition: max-height 0.5s cubic-bezier(0, 1, 0, 1); */
/* } */

/* .navGroup.subNavGroup h4.expand+ul { */
/* max-height: none; */
/* } */

.post article a {
  color: #c71810;
}

.post article p a img {
  display: inline;
}

table.versions td,
table.versions th,
table.versions tr {
  border: none;
  padding-left: 0;
}

table.versions td,
table.versions th {
  text-align: left;
}

blockquote {
  background-color: #fef3f3;
  border-left-color: #fddddc;
}

footer {
  display: none;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    max-width: 1400px;
  }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
  /* .wrapper {
    max-width: 1400px;
  } */
}
